<div class="whole-view">


  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h1>Sign Up</h1>

    <input type="email" placeholder="Email" formControlName="email">
    <span *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched">
        <span *ngIf="loginForm.get('email').dirty && loginForm.get('email').value !== ''; else requiredError">
          Your email is incorrect!
        </span>
      </span>

    <div class="eye-container">
      <input
        [type]="!checkEye ? 'password' : 'text'"
        placeholder="Password"
        formControlName="password">

      <div (click)="onSelectEye()">
        <i [class]="checkEye ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
      </div>
    </div>

    <span *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">
          <span *ngIf="loginForm.get('password').dirty &&
          loginForm.get('password').value !== ''; else requiredError">
          The password must be at least 8 symbols!
          </span>
        </span>

    <button type="submit" [class.opacity-button]="loader">
      <span
        class="text-span"
        *ngIf="!loader; else submittedButton">
        Submit</span>
      <span>


</span>
    </button>

  </form>

</div>

<ng-template #requiredError>
  The above input can't be empty!
</ng-template>

<ng-template #submittedButton>
  <img src="assets/images/download-circle-colors.png">
</ng-template>
