<nav>
  <ul class="navbar-list">
    <a
      *ngFor="let item of navbarItems"
      routerLink="{{ item.item }}"
      routerLinkActive="active-link">
      {{ item.item | capitalizeFirstLetter}}
    </a>
    <a (click)="showContentService.switchMessage()">
      {{ showContentService.showContent ? 'Show the children' : 'Show off the children'}}
    </a>
    <a (click)="onLogOut()">
      Log Out
    </a>
  </ul>
</nav>

<div class="loader" *ngIf="loaderService.showLoader">
</div>

<router-outlet></router-outlet>

